* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* keyboard */


.keyboard {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
}